@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    background-color: #f9f9f9;
    padding: 0;
    margin: 0;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #444;
}

textarea {
    width: 100%;
    height: 80px;
}

.wrapper {
    background-color: #ffffff;
    max-width: 1000px;
    margin: auto;
    text-align: left;
    padding: 30px 20px;
    box-shadow: 0px 0px 10px #c8cac5;
}

.download-buttons {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
}

.wrapper h1:first-child {
    margin-top: 0;
}

footer {
    padding: 25px 0;
}

h1 {
    font-weight: 300;
    padding-bottom: 25px;
}

h1.sub, h2.sub {
    padding-top: 10px;
    font-size: 22px;
    color: #888;
}

h2 {
    padding-bottom: 20px;
    font-weight: 300;
}

p.seperator {
    padding-top: 30px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 30px;
}

.text-panel {
    margin: auto;
    text-align: left;
    max-width: 780px;

    font-size: 16px;
    color: #444;
    line-height: 26px;
}

.text-panel:first-child {
     padding-top: 30px;
 }


.text-panel p.seperator {
    padding-top: 30px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 30px;
}

.code {
    width: 50%;
    float: left;
    text-align: left;
    margin: auto;
    font-size: 13px;
    line-height: 15px;
    position: relative;
    margin-top: 20px;
    padding: 0 25px;
    margin-bottom: 15px;
}

.code .CodeMirror {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    height: auto;
}

.code-full {
    float: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.example-desc {
    text-align: center;
}

.example {
    text-align: center;
    margin: 100px auto;

    padding-bottom: 100px;
    border-bottom: 1px solid #e6e6e6;
}

.examplesResizerDemos,
.examplesResizerDemosXY {
    background-color: #dae3e8;
    width: 550px;
    margin: 15px auto;
    padding: 15px 0;
    border-radius: 5px;
    position: relative;
}

.examplesResizerDemosXY {
    height: 150px;
}

.examplesResizerDemos h2 {
    font-size: 20px;
}

.resizerDemo-info {
    position: absolute;
    right: 23px;
    top: 0;
    color: #333;
    font-size: 13px;
    line-height: 15px;
    font-family: monospace;
}

.bash {
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 15px;
    padding: 5px;
    font-size: 14px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
}


.resizerDemo-handler {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20px;
    padding: 0 1px;
    background-color: gray;
    cursor: ew-resize;
    line-height: 5px;
    font-size: 14px;
}

.resizerDemo-handler:before {
    content: '• • •';
    color: white;
    width: 10px;
    position: absolute;
    top: 50%;
    left: 5px;
    font-weight: 300;
    line-height: 6px;
    font-size: 11px;
    text-align: center;
    margin-top: -15px;
}

.breaker {
    clear: both;
}

.example-2 {
    border: 1px solid silver;
    background-color: #eee;
}

.example-2-first,
.example-2-second {
    background-color: black;
    color: white;
    padding: 2px;
    width: 50%;
    float: left;
    border: 5px solid #eee;
}

.example-2-second {
    float: right;
}

.example-2-box {
    color: white;
    margin: 5px;
    padding: 2px;
}

.example-3,
.example-4 {
    border: 1px solid silver;
    margin: 25px;
    background-color: #eee;
}

#example-5 {
    overflow: visible;
    position: relative;
    text-align: center;
}

#example-3-box,
#example-4-box {
    background-color: gray;
    color: white;
    margin: auto;
    width: 50%;
    padding: 50px;
}

.example-3-box-start,
.example-4-box-start {
    animation-duration: 3s;
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -moz-animation-name: anim;
    animation-name: anim;
    -webkit-animation-name: anim;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.example-4-box-start {
    -moz-animation-name: animHeight;
    animation-name: animHeight;
    -webkit-animation-name: animHeight;
}

#example-3-log,
#example-4-log {
    background-color: white;
    padding: 2px;
    margin: 5px;
}

@keyframes anim {
    0% {
        padding: 50px;
        width: 50%;
        background-color: gray;
    }

    50% {
        padding: 10px;
        width: 40%;
        background-color: #806522;
    }

    100% {
        padding: 50px;
        width: 50%;
        background-color: gray;
    }
}

@-webkit-keyframes anim {
    0% {
        padding: 50px;
        width: 50%;
        background-color: gray;
    }

    50% {
        padding: 10px;
        width: 40%;
        background-color: #806522;
    }

    100% {
        padding: 50px;
        width: 50%;
        background-color: gray;
    }
}

@-moz-keyframes anim {
    0% {
        padding: 50px;
        width: 50%;
        background-color: gray;
    }

    50% {
        padding: 10px;
        width: 40%;
        background-color: #806522;
    }

    100% {
        padding: 50px;
        width: 50%;
        background-color: gray;
    }
}

@keyframes animHeight {
    0% {
        padding: 50px;
        height: 50%;
        background-color: gray;
    }

    50% {
        padding: 10px;
        height: 40%;
        background-color: #806522;
    }

    100% {
        padding: 50px;
        height: 50%;
        background-color: gray;
    }
}

@-webkit-keyframes animHeight {
    0% {
        padding: 50px;
        height: 50%;
        background-color: gray;
    }

    50% {
        padding: 10px;
        height: 40%;
        background-color: #806522;
    }

    100% {
        padding: 50px;
        height: 50%;
        background-color: gray;
    }
}

@-moz-keyframes animHeight {
    0% {
        padding: 50px;
        height: 50%;
        background-color: gray;
    }

    50% {
        padding: 10px;
        height: 40%;
        background-color: #806522;
    }

    100% {
        padding: 50px;
        height: 50%;
        background-color: gray;
    }
}

.dynamicElement {
    margin: 50px;
    width: 50px;

    -moz-animation-name: animHeight;
    animation-name: animHeight;
    -webkit-animation-name: animHeight;

    animation-duration: 3s;
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

    display: inline-block;
    border: 1px solid #eee;
    background-color: #f9f9f9;
}

.dynamic {
    margin: 15px;
    text-align: center;
}

.dynamic .input-group {
    width: 500px;
    margin: auto;
}