.examplesResizerDemos {
    background-color: white;
    width: 550px;
    margin: 15px;
    padding: 15px 0;
    position: relative;
    border-left: 1px dashed silver;
    border-bottom: 1px dashed silver;
}

.resizerDemo-handler {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: gray;
    cursor: ew-resize;
    line-height: 5px;
    font-size: 14px;
}

.resizerDemo-handler:before {
    content: '• • •';
    color: white;
    width: 5px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
}